doctype
html(lang="en")
  head
    include layout/_meta
    title Greppy Framework !{title ? ('&bull; ' + title) : ''}

  body
    #top-jumper.hidden-xs
      .btn.btn-default
        i.fa.fa-chevron-circle-up

    #wrap
      include layout/_navigation

      #content.container
        block content

    include layout/_foot

