meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content="Hermann Mayer, Greppy Gang")
meta(name="google-site-verification", content="hX4u82Qo9l0akYMB3VwDfQCMJsgIf36EGsGEkJ4rRWA")

link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400", rel="stylesheet", type="text/css")

link(rel="stylesheet", href="/assets/docs.min.css?version=#{package.version}")
script(src="/assets/docs.min.js?version=#{package.version}")
