/**
 * @package Greppy docs main stylesheet
 *
 * @tableofcontents
 * 1. General styles
 * 2. Content
 * 3. Footer
 * 4. Misc
 * 5. Bootstrap extension
 * 6. Responsive styles
 **/

/**
 * @section 1. General Styles
 *
 * General styles which are valid for all or most of the pages.
 **/
html, body{
    height: 100%;
    background-color: #F7F7F7;
    background-image: url("/assets/noise.png");
    background-repeat: repeat;
}

/* Wrapper for page content to push down footer */
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px;
    padding: 0 0 170px;
}

#wrap > .container{
    padding: 0 15px 0;
}

.nav .active:after {
    color: #F1F1F1;
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0px;
    height: 0px;
    margin-left: -8px;
    vertical-align: middle;
    content: " ";
    border-right: 8px solid transparent;
    border-bottom: 8px solid;
    border-left: 8px solid transparent;
}

.navbar {
    -webkit-box-shadow: 0px 10px 5px #ffffff;
    -moz-box-shadow: 0px 10px 5px #ffffff;
    box-shadow: 0px 10px 5px #ffffff;
}

/**
 * @section 2. Content
 *
 * Styles for the main content block.
 **/
#content{
    margin-top: 65px;
    margin-bottom: 4px;
}

.v-center {
    top: 50%;
}

#main p:first-of-type {
    margin-top: 0px;
    margin-bottom: 0px;
}

#main, #toc {
    padding-top: 20px;
}

#toc li {
    list-style-type: none !important;
    margin-bottom: 10px;
    margin-left: -20px;
}

#toc ul  {
    margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: pointer;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6,
section,
.anchor,
a[name] {
    padding-top: 60px;
    margin-top: -60px;
}

#main h1:before,
#main h2:before,
#main h3:before,
#main h4:before,
#main h5:before,
#main h6:before {
    display: block;
    content: " ";
    height: 10px;
}

#main h1:before {
    height: 20px;
}
#main h2:before {
    height: 15px;
}

#main h1:first-of-type:before,
#main h2:first-of-type:before {
    height: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
    padding: 8px 0px;
    background-color: transparent;
}

#top-jumper {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    text-align: center;
}

#top-jumper > .btn {
    margin-top: 25px;
}

.component {
    margin-bottom: 1.5em;
}

.method {
    padding-left: 2em;
}

.parameters li {
    list-style-type: none !important;
    margin-bottom: 10px;
    margin-left: -20px;
}

.parameters ul  {
    margin-top: 10px;
}

hr {
    border-color: #E5E5E5 -moz-use-text-color -moz-use-text-color;
}

pre {
    background-image: url('/assets/code.png');
    background-position: top right;
    background-repeat: no-repeat;
}

pre.line-numbers {
    position: relative;
    clear: left;
    min-height: 12px;
    margin-top: 1em;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    counter-reset: line-numbering;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 19px;
}

pre.line-numbers p {
    min-height: 16px;
    padding: 0px 15px 0px 40px;
    margin: 0px;
}

pre.line-numbers p a {
    display: inline-block;
    text-align: right;
    min-width: 35px;
    margin-left: -40px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: #E5E5E5;
}

pre.line-numbers p a:before {
    content: counter(line-numbering, decimal);
    counter-increment: line-numbering;
    padding-right: 0.5em;
}

pre.line-numbers .active {
    /* background-color: rgba(255, 255, 204, 0.7); */
    background-color: #FCFCD8;
}

/**
 * @section 3. Footer
 **/
#footer{
    height: 140px;
    padding: 16px 0;
    border-top: 5px solid #222222;
    background-color: #32708F;
    color: #fff;
    background-image: url("/assets/bubbles.png");
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}

#footer a {
    color: #fff;
}

#footer a:hover,
#footer a:focus {
    color: #8BBBD3;
    text-decoration: none;
    text-shadow: 0px 0px 2px #000;
}

.branding-head {
    margin-top: 16px;
}

.branding-info {
    width: 830px;
    padding: 0 20px;
}

#footer-logo {
    height: 80px;
}

/**
 * @section 4. Misc
 *
 * Everything which doesn't fit anywhere else.
 **/

.error-message {
    text-align: center;
    margin-top: 150px;
}

/**
 * @section 5. Bootstrap extension
 *
 * Everything which extends the default bootstrap dist.
 **/
.badge-white {
    background-color: #FFFFFF; color: #686868;
}

.badge-white[href]:hover,
.badge-white[href]:focus {
    background-color: #E1E1E1;
}

.badge-primary {
    background-color: #428bca;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    background-color: #3071a9;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #449d44;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #31b0d5;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #ec971f;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #c9302c;
}

.navbar .input-group-addon,
.navbar .input-group-btn {
    width: auto;
}

.fa-6x {
    font-size: 6em;
}
.fa-7x {
    font-size: 7em;
}
.fa-8x {
    font-size: 8em;
}
.fa-9x {
    font-size: 9em;
}
.fa-10x {
    font-size: 10em;
}

.fa-border {
    background-color: #FFFFFF;
}

.fa-border-circle {
    border: 2px solid #EEEEEE;
    padding: .45em;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
}

.medium {
    font-size: 1.5em;
}

.light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.margin-bottom-small {
    margin-bottom: 3em;
}

.margin-bottom-medium {
    margin-bottom: 6em;
}

.margin-bottom-large {
    margin-bottom: 9em;
}

.margin-bottom-grande {
    margin-bottom: 18em;
}

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout h4:before {
    height: 0px !important;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

/**
 * @section 6. Responsive styles
 *
 * All responsive styles.
 **/

@media (max-width: 767px) {

    .nav .active:after {
        display: none;
    }
}

