extends ../section
include ../mixins/_subsection

block header

  h1.text-center Examples
  br

block subsections

  .row
    each section in subsections
      +subsection(section)

block section

  h1 Section

