extends ../section
include ../mixins/_subsection

block header

  .row.text-center
    h1 Guide
    hr

block subsections

  .row.text-center
    each section in subsections
      +subsection(section)

