extends ../section
include ../mixins/_subsection

block header

  .row.text-center
    h1 #{section._name}
    hr

block subsections

  .row
    each section in subsections
      +subsection(section)

block section

  |!{section._content}

