extends ../section
include ../mixins/_subsection

block header

  .row
    .col-sm-offset-3.col-sm-9
      h1
        i.fa(class="#{section._icon}")
        |  #{section._name}
    .col-lg-12
      hr

block subsections

  .row
    each section in subsections
      +subsection(section)

block section

  .row
    .col-sm-3#toc
      |!{section._content.toc}

    .col-sm-9#main
      |!{section._content.content}

